BACKEND_URL="http://localhost:5000" //Use a consumet backend
CORS_PROXY="http://localhost:6500" //Use a public server, Or selfhost one. you can also use a CORS extension
GANALYTICS="" // Just the code: G-XXXXXXXX